
<div class="container">
  <nav class="navbar navbar-light bg-light">
      <img src="/assets/images/instafood.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    <h1>  InstaFood  </h1>
  </nav>

  <div style="text-align:center" class="row">
    <h3>Welcome, <%= current_user.first_name %>!</h3>
    <a href=''> New Post |</a><a href=''> Post by me |</a><a href=''> Post I liked </a>
  </div>


  <% @posts.each do |post| %>

  <table>
    <tbody>
      <tr>
        <td><a href="user/<%= post.user.id %>/show"> <%= post.user.name %> </a> Says:</td>
        <td> <%= post.message %></td>
          <% if post.user_id == current_user.id %>
        <td><a href='/delete/<%=post.id%>'  data-method='delete'>Delete your post</a></td>
          <% end %>
      </tr>
      <td>
          <% if post.users_liked.include?(current_user) %>

            <form action='/user/<%=current_user.id %>/posts/<%= post.id%>/unlike' method='post'>
              <input name="authenticity_token" value='<%= form_authenticity_token %>' type='hidden' />
              <input type='hidden' name ='_method' value='delete'>
              <input type='hidden' name='like[post_id]' value='<%= post.id %>'>
              <input type='hidden' name='like[user_id]' value='<%= current_user.id%>'>
              <input type='submit' value='Unlike' />
            </form>

          <% else %>
          <form action='/likes' method='post'>
            <input name="authenticity_token" value='<%= form_authenticity_token %>' type='hidden' />
            <input type='hidden' name='like[post_id]' value='<%= post.id %>'>
            <input type='hidden' name='like[user_id]' value='<%= current_user.id%>'>
            <input type='submit' value='like' />
          </form>
          <% end %>

      </td>
      <td> <a href='/posts/<%= post.id %>/show'><%= post.users_liked.count %> People Liked this </a></td>
    </tbody>
  </table>
  <hr />
  <% end %>

</div>
